$primario: #b6cc59;
$secundario: #33691e;
$terciario: rgba(165, 149, 1, 0.623);
$cuarto: rgba(69, 214, 56, 0.541);
$quinto: rgb(59, 80, 76);
$sexto: #d4e157;
$septimo: #ffd54f;
$octavo: #f0f4c3;
$noveno: black;
$decimo:rgb(15, 20, 20);
$onceabo:rgb(21, 32, 21);

$paleta_de_colores:(
    primario: $primario,
    secundario: $secundario,
    terciario : $terciario,
    cuarto : $cuarto,
    quinto : $quinto,
    sexto : $sexto,
    septimo : $septimo,
    octavo : $octavo,
    noveno : $noveno,
    decimo : $decimo,
    onceabo: $onceabo,
);