@media screen and (max-width:900px) {
    header {
        padding: 0px 30px;
    }
    .bars {
        display: block;
        cursor: pointer;
        .line {
            width: 30px;
            height: 3px;
            background-color: $background-color_1;
            margin: 6px 0px;
        }
    }
    .navbar {
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100vw;
        background-color: $background-color_2;
        transition: 0.1ms;
        overflow: hidden;
        ul {
            display: block;
            width: fit-content;
            margin: 80px auto 0 auto;
            transition: 0.1ms;
            opacity: 0;
        }
    }
    .navbar.item-list {
        height: 450px;
        ul {
            opacity: 1;
        }
    }
    .nav__bar {
        ul {
            li {
                a {
                    margin-bottom: 20px;
                }
            }
        }
    }
}