.contenedor1 {
    img {
        border-radius: 600px;
        padding: 20px 50px;
        width: 70%;
        height: 80%;
    }

    p {
@include tipografia;
    }
}

.contenedor2 {
    img {
        padding: 50px;
        width: 70%;
        height: 80%;
    }

    p {
        @include tipografia;
    }
}

.acerca {
    border-radius: 600px;
    padding: 20px 50px;
    width: 80%;
    height: 80%;
}

.food {
    @include tipografia;
    padding-bottom: 80px;
}

.rellena {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner {
    display: flex;
    justify-content: center;
}

.imagen-uu {
    border-radius: 600px;
    width: 45%;
    margin-left: 25px;
    margin-right: 25px;
}

.img_rellena{
    border-radius: 150px;
    object-fit: cover;
    height: 80%;
    width: 65%;
}

.img_relleno {
    border-radius: 150px;
    width: 76%;
    object-fit: cover;
    padding-bottom: 40px;
}
