.nav__bar ul {
    display: flex;

    li a {
        display: block;
        color: map-get($paleta_de_colores , quinto);
        font-size: 18px;
        padding: 10px 25px;
        border-radius: 15px;
        transition: 0.2s;
        margin: 0 5px;
    }

    li a:hover {
        color: map-get($paleta_de_colores , quinto);
        background-color: map-get($paleta_de_colores , sexto);
        transition: 0.1ms;
    }

    li a {
        color: map-get($paleta_de_colores , quinto);
        background-color: map-get($paleta_de_colores , septimo);
        text-decoration: none;
    }
}